@page "/admin"

<h3>Admin Page</h3>
@*We want to include the following functionality on this page;
    - Admins can view stock, remove cars from being seen and add new ones
    - Admins can view customer data and details
    - Admins can approve customer finance requests
*@

<a class="btn btn-cars" href="/stock">Check Stock</a>
<a class="btn btn-users" href="/people">Check users</a>
<a class="btn btn-new_car" href="/newcar">Add a new car</a>
<a class="btn btn-cust_check" href="/requests">Finance Requests</a>