@page "/people"

@using Data
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
<h3>Registered Users</h3>

@if (people == null){
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-stripped">
        <thead style="background-color:#141e5e; color:white;">
           <tr>
            <th>User ID</th>
            <th>User Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in people)
            {
            <tr>
                <td>@p.User_ID</td>
                <td>@p.User_Email</td>
            </tr>
            }
            </tbody>
            </table>
}
@code {
    List<PersonModel> people;
    protected override async Task OnInitializedAsync() {
        string sql = "select * from User_Accounts";

        people = await _data.LoadData<PersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
