@using System.Net.Mail;

<h3>SendEmail</h3>
<button class="btn btn-primary" @onclick="SendMail">Send Mail</button>
<br />

<span style="font-weight:bold;font-size:28px;color:#c00">@Message</span>

@code {
    private string Message { get; set; } = "";

    private void SendMail()
    {
        try
        {
            using (MailMessage mail = new MailMessage())
            {
                mail.From = new MailAddress("address");
                mail.To.Add("useremail");
                mail.Subject = "Verify account";
                mail.Body = "<h1>This is mail body </h1>";
                mail.IsBodyHtml = true;

                using (SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587))
                {
                    smtp.Credentials = new System.Net.NetworkCredential("FROMAddress", "password");
                    smtp.EnableSsl = true;
                    smtp.Send(mail);
                    Message = "Mail Sent";
                }
            }
        }
        catch (Exception ex)
        {
            Message = ex.Message;
        }
    }
}
